# Gradle cache
/.gradle/

# Gradle output
/build/

# Local/IDE generated output
/bin/

# Hytale asset schema
/src/main/resources/.vscode/
/src/main/resources/Schema/

# Prefabs backups
/src/main/resources/Server/Prefabs/**/*.lpf
/src/main/resources/Server/Prefabs/**/*.bak
